.status-card {
    padding: 30px;
    display: flex;
    align-items: center;
    background-color: var(--main-bg);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: color 0.5s ease 0s;
    margin-bottom: 30px;
    max-height: 122px;
}

.status-card__icon {
    width: 30%;
    height: 100%;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    color: #fff;
}

.status-card__info {
    flex-grow: 1;
    text-align: center;
    z-index: 1;
    text-transform: capitalize;
}

.status-card__info>h4 {
    font-size: 40px;
    margin-bottom: 10px;
}

.status-card::before {
    content: "";
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    background-image: linear-gradient( to top right, var(--main-color), var(--second-color));
    position: absolute;
    left: -55%;
    top: 0;
    transition: transform 0.8s ease 0s;
    z-index: -1;
}

.status-card:hover::before {
    transform: scale(3);
}

.status-card:hover {
    color: var(--txt-white);
}

.row {
    align-items: stretch;
}

@media (min-width: 900px) and (max-width: 1200px) {
    .status-card__info>h4,
    .status-card__icon {
        font-size: 28px;
    }
}

@media (min-width: 850px) and (max-width: 1000px) {
    .status-card {
        padding-left: 10px
    }
}

@media (max-width: 850px) {
    .status-card {
        padding-left: 10px
    }
}

@media (max-width: 600px) {
    .status-card__info>h4 {
        font-size: 30px;
    }
}

@media (max-width: 500px) {
    .status-card__info>h4 {
        font-size: 25px;
    }
}