.Btn {
  @apply inline-block px-6 py-2.5 font-medium leading-tight uppercase rounded hover:shadow-lg  focus:shadow-lg  active:shadow-lg transition duration-150 ease-in-out focus:outline-none text-xs focus:ring-0;
}
.BtnBlue {
  @apply bg-primary-500 text-white  hover:bg-blue-500 focus:bg-blue-500 active:bg-blue-800 !important;
}
.BtnPurple {
  @apply bg-purple-600 text-white   hover:bg-purple-700 focus:bg-purple-700    active:bg-purple-800 !important;
}
.BtnSuccess {
  @apply bg-green-500 text-white   hover:bg-green-600 focus:bg-green-600    active:bg-green-700 !important;
}
.BtnDanger {
  @apply bg-red-600 text-white   hover:bg-red-700 focus:bg-red-700    active:bg-red-800 !important;
}
.BtnWarning {
  @apply bg-yellow-500 text-white   hover:bg-yellow-600 focus:bg-yellow-600    active:bg-yellow-700 !important;
}
.BtnInfo {
  @apply bg-blue-400 text-white   hover:bg-blue-500 focus:bg-blue-500    active:bg-primary-500 !important;
}
.BtnLight {
  @apply bg-gray-200 text-gray-700   hover:bg-gray-300 focus:bg-gray-300    active:bg-gray-400 !important;
}
.BtnDark {
  @apply bg-gray-800 text-white   hover:bg-gray-900 focus:bg-gray-900    active:bg-gray-900 !important;
}
.FieldArrayBtn {
  @apply h-12 ml-4 rounded mb-2 p-4 text-xl flex justify-center items-center font-bold !important;
}

button:disabled {
  opacity: 60%;
  cursor: no-drop !important;
}
