@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  @import "./alert.css";
  @import "./formik.css";
  @import "./buttons.css";
}

@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&family=Open+Sans:wght@400;700&family=Roboto:wght@100;300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Maven Pro", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.7px;
}

:root {
  /*  */
  --main-bg: #ffffff;
  --second-bg: #fafafb;
  --txt-color: #455560;
  --txt-white: #fff;
  --box-shadow-light: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  --main-color: #349eff;
  --second-color: #62b4ff;
  /*  */
  --main-bg-light: #ffffff;
  --second-bg-light: #fafafb;
  --txt-color-light: #455560;
  --box-shadow-light: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  /*  */
  --main-bg-dark: #2d2d2d;
  --second-bg-dark: #202020;
  --txt-color-dark: #bbbbbb;
  --box-shadow-dark: rgba(0, 0, 0, 0.2) 0px 5px 10px;
  /*  */
  --main-color-blue: #349eff;
  --second-color-blue: #62b4ff;
  /*  */
  --main-color-red: #ff055a;
  --second-color-red: #ff3157;
  /*  */
  --main-color-cyan: #10d4d2;
  --second-color-cyan: #2ae9e6;
  /*  */
  --main-color-green: #99f2c8;
  --second-color-green: #23e3ae;
  /*  */
  --main-color-orange: #ffb830;
  --second-color-orange: #fca11a;
  /*  */
  --sidebar-width: 300px;
  --border-radius: 15px;
  --topnav-height: 110px;
  --transition-cubic: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  /*  */
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  border: 0;
  outline: 0;
  color: var(--txt-color);
}

a {
  text-decoration: none;
  color: unset;
}

a:hover {
  color: var(--main-color);
}

ul {
  list-style-type: none;
}

input {
  border: 2px solid transparent;
  outline: 0;
}

input:focus {
  border: 2px solid var(--main-color);
}

.page-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.page-header > h2 {
  text-transform: capitalize;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--txt-color);
}

.page-header .add-button {
  background: transparent;
  font-size: 2rem;
}

.card {
  padding: 30px;
  margin-bottom: 30px;
  background-color: var(--main-bg);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}

.full-height {
  height: 100%;
}

.card.full-height {
  height: calc(100% - 30px);
}

.card__header {
  text-transform: capitalize;
}

.card > div ~ div {
  margin-top: 30px;
}

.card__footer {
  text-align: center;
  text-transform: capitalize;
}

.light-background {
  background-color: var(--main-bg-light);
  color: #000;
}

.dark-background {
  background-color: var(--main-bg-dark);
  color: #fff;
}

.blue-color {
  background-color: var(--main-color-blue);
  color: #fff;
}

.red-color {
  background-color: var(--main-color-red);
  color: #fff;
}

.cyan-color {
  background-color: var(--main-color-cyan);
  color: #fff;
}

.green-color {
  background-color: var(--main-color-green);
  color: #fff;
}

.orange-color {
  background-color: var(--main-color-orange);
  color: #fff;
}

.Layout {
  color: var(--txt-color);
}

.Layout_Content {
  padding-left: calc(var(--sidebar-width) + 30px);
  padding-right: 30px;
  background-color: var(--second-bg);
  min-height: 100vh;
  transition: all 0.4s;
}

.Layout_content_Main {
  padding: 30px;
}

.scrollable::-webkit-scrollbar {
  width: 3px;
}

.scrollable::-webkit-scrollbar-thumb {
  background: #bbbbbb;
  border-radius: 2px;
  background-clip: padding-box;
}
